<section class="section">
    <div class="container">
        <h1 class="title">{{article.title}}</h1>
        <p>{{{article.content}}}</p>
        <img src="{{article.image}}" alt="Image">
        <button><a href="/edition/{{article.id}}">Éditer l'article</a></button>
    </div>
</section>